/*
Shopify CSS
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
}
a{
    color: #2c2c2c;
    text-decoration: none;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #ffffff;
    color: #2c2c2c;
}
.bold{
    font-weight: 800 !important;
}
small{
    font-size: 12px;
}
.wrapper {
    max-width: 600px;
    margin: 0px auto;
    background: #FFFFFF;
    padding: 10px 10px 30px 0px;
}
.personal-information{
    margin: 0px auto;
}
.profile-svg{
    width: 300px;
    margin: 0px auto;
}
.wawe {
    margin-top: 15px;
}
.brand {
    font-size: 40px;
    text-align: center;
    letter-spacing: -2px;
    margin-top: 10px;
}
.brand>a>span {
    font-weight: 100;
}
.brand>small {
    letter-spacing: 0.2px;
    display: block;
    font-weight: 100;
    margin-top: 5px;
}
.brand>img {
    margin-top: 10px;
}
.resume {
    display: block;
    background: #2d2d2c;
    border-radius: 5px;
    color: #fff;
    padding: 10px 10px;
    font-weight: 500;
    margin-top: 5px;
}
.resume {
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0px;
}
.resume>i {
    margin-right: 2px;
    font-size: 16px;
}
.previous-experiences {
    margin: 20px 0px;
    font-size: 14px;
    letter-spacing: 0px;
    text-align: center;
    line-height: 22px;
}
.previous-experiences>span {
    display: block;
    font-weight: 200;
    margin-bottom: 35px;
}
.calltext{
    font-size: 17px;
    letter-spacing: -1px;
}
.previous-experiences>span:nth-child(2) {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #b3b3b3;
    text-transform: uppercase;
}
.curernt-projects{
    margin-left: -10px;
}
.curernt-projects>a>img {
    width: 14.3%;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.social-links {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #b3b3b3;
}
.social-links>span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 4px;
    color: #616161;
}
.social-links>a::nth-child(2)>i{
    color: #24292e;
}
.social-links>a:nth-child(3)>i{
    color: #0077b5;
}
.social-links>a:nth-child(4)>i{
    color: #365cff;
}
.social-links>a:nth-child(5)>i{
    color: #3b5998;
}
footer {
    text-align: center;
    padding-bottom: 10px;
    font-size: 11px;
    color: #a5a5a5;
}
@media (max-width: 610px){
    .wrapper {
        max-width: 300px;
    }
    .curernt-projects>a>img {
        width: 20%;
    }
}