/*
Shopify CSS
*/
html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%; 
}
a{
    color: #2c2c2c;
    text-decoration: none;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #ffffff;
    color: #2c2c2c;
    padding: 40px 0px;
}
.bold{
    font-weight: 800 !important;
}
small{
    font-size: 12px;
}
.wrapper {
    max-width: 600px;
    margin: 0px auto;
    background: #FFFFFF;
    padding: 10px 10px 30px 0px;
}
.personal-information{
    margin: 0px auto;
}
.profile-svg{
    max-width: 300px;
    margin: 0px auto;
}
.wawe {
    margin-top: 15px;
}
.brand {
    text-align: center;
    letter-spacing: -2px;
    margin-top: 10px;
}
.name-section {
    font-size: 32px;
    margin-bottom: 10px;
}
.brand>a>span {
    font-weight: 100;
}
.brand>small {
    letter-spacing: 0.2px;
    display: block;
    font-weight: 100;
    margin-top: 5px;
}
.brand>img {
    margin-top: 10px;
}
.social-links {
    font-size: 40px;
    text-align: center;
    margin-top: 25px;
    padding-top: 10px;
    border-top: 1px solid #2d2d2b;
}
.social-links>span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 4px;
    color: #616161;
}
footer {
    text-align: right;
    margin-top: 25px;
    font-size: 11px;
    color: #a5a5a5;
}
#main-content > section {
    margin-bottom: 20px;
}
#main-content > section:last-child {
    margin-bottom: 0px;
}
section .title {
    border-bottom: 1px solid #2d2d2c;
    padding-bottom: 5px;
}
.work-experience > .item,
.education > .item,
.awards > .item,
.projects > .item {
    margin-bottom: 15px;
}
.work-experience > .item > .position-title,
.education > .item > .school-field,
.awards > .item > .award-name,
.projects > .item > .project-name,
.goals > .item > .goal-name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}
.work-experience > .item > div > .date,
.education > .item > div > .date {
    text-align: right;
}
#skills {
    margin-top: 25px;
}
#skills > .title {
    font-size: 19px;
    font-weight: 600;
    border-bottom: 1px solid #2d2d2b;
    padding-bottom: 5px;
}
ul.skill-list {
    padding-left: 15px;
}
.skill-list > .skill-name {
    margin-bottom: 5px;
}
.brand > .title {
    letter-spacing: 0.2px;
    display: block;
    font-weight: 100;
    margin-top: -2px;
    font-size: 16px;
    font-style: italic;
}
.brand > .title > .title-dark {
    background: #2c2c2c;
    color: #fff;
    padding: 6px;
    font-weight: 600;
    font-style: inherit;
}
.item:last-child {
    margin-bottom: 0px;
}